.Header {
  align-items: center;
  border-bottom: 2px solid ghostwhite;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

a {
  color: lightseagreen;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

a:hover {
  color: turquoise;
}

h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}